

/* reser  start */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1em;
}
ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  padding: 0;
  list-style: none;
}
strong,b,h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-size: 1em;
}
em,i{
  font-style: normal;
}
a{
  text-decoration: none;
  color: #3377aa;
  cursor: pointer;
}
img{
  vertical-align: top;
}
form,input,select,option{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  vertical-align: top;
}





/* tools     start */
.fl{
  float: left;
}
.fr{
  float: right;
}
.position-a{
  position: absolute;
}
.position-r{
  position: relative;
}
.margin-x-auto{
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  border: 0;
}
.clearfix{
  zoom: 1;
}
.default-width{
  width: 940px;
  margin: 0 auto;
}
.bg-color-hover:hover{
  color: white;
  background: #2277aa;
}








/* global       start */
/*header   header-top  start  */
.header-top{
  background: #545652;
}
.header-top-left{
  border-top: 1px solid #b6b4b6;
}
.header-top-left li{
  padding: 0 12px;
}
.header-top a{
  line-height: 28px;
  color: #d0d1d0;
}
.header-top-left a:hover{
  color: white;
}
.header-top-left .position-a{
  width: 88px;
  padding: 10px 0;
  border: 1px solid #e6e6e6;
  background: white;
}
.header-top-left .position-a a{
  width: 100%;
  color: #3d3d3d;
}
.header-top-left .position-a a:hover{
  background: #f6f6f6;
}
.nav-download{
  padding-right:25px; 
  height: 28px;
}
.header-top-right .position-a{
  width: 251px;
  height: 479px;
  border: 1px solid #e6e6e6;
  border-top: none;
  top: 28px;
  left: -84px;
  background: white;
}
.header-top-right p:nth-of-type(1){
  padding-top: 64px;
}
.header-top-right p:nth-of-type(2){
  padding: 33px 0 20px;
}
.header-top-right p a{
  color: #3377bc;
}
.nav-info a{
  padding-right: 25px; 
}
.nav-info a:hover{
  color: white;
}

/*header-top end  */





/*header-middle  start  */

.header-middle{
  border-bottom: 1px solid #e3ebec;
  background: #f0f3f5;
  padding: 20px 0 22px;
}
.logo{
  font-size: 30px;
  font-weight: 600;
  color: #258dcd;
  margin-right: 43px;
}
form input{
  width: 452px;
  background: white;
  line-height: 31px;
  padding-left: 14px;
  border-bottom: 1px solid #d1d1d1;
}

.search{
  width: 35px;
  height: 30px;
  border: 1px solid #8a949c;
  border-radius: 0 3px 3px 0/0 3px 3px 0;
  background: url(./images/header/ser.png);
}
/*header-middle  end  */





/*header-bottom  start  */
.header-bottom{
  padding: 13px 0 14px;
  background-color: #f0f3f5;
  font: 13px/15px "";
}
.header-bottom .fl{
  margin-right: 28px;
  color: #4882ae;
}
.bg-color-change:hover{
  color: white;
  background: #2277aa;
}

/*header-bottom  end  */










/*right  start  */
.Right{
  width: 300px;
  padding-top: 40px;
}
.Right>h5{
  line-height: 43px;
  text-indent: 18px;
  color: #3377aa;
  border-radius: 5px;
  background: #f2f7f6;
  text-align: left;
}
.search-film{
  margin: 20px 0 28px;
  border-radius: 5px;
  background: #f6f3d3;
  padding: 12px 0;
  line-height: 24px;
}
.search-film select,.search-film input{
  height: 24px;
  border: 1px solid #e0e0e0;
  background: white;
  box-sizing: border-box;
}
.search-film select{
  margin-right: 5px;
}
.search-film a{
  position: relative;
  left: -23px;
  top: 6px;
}
.film-activity{
  margin-top: 20px;
  text-align: left;
  background: #f2f7f6;
  padding: 12px 0;
  text-indent: 18px;
  line-height: 27px;
}
.film-activity h6{
  font: 14px/30px "";
  color: #007722;
}
.kb-list-box{
  margin-bottom: 50px;
}
.kb-list{
  padding: 24px 0 15px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.kb-list strong{
  margin-right: 12px;
}
.kb-list a{
  font-size: 12px;
  color: #6a6699;
}
.kb-list-box .li1{
  border-bottom: 1px solid #eaeaea;
  padding: 15px 0 11px 7px;
}
.kb-list-box span{
  margin-right: 10px;
}
.tongdui{
  margin-top: 20px;
  text-align: left;
  text-indent: 20px;
  background: #e3ebec;
  padding: 14px 0;
  color: #696a9e;
}

.doulie h6{
  padding-top: 3px;
  line-height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.doulie p{
  line-height: 15px;
  padding: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.doulie span{
  color: #9f9f9f;
}


.cooperation{
  padding-top: 28px;
  line-height: 24px;
  text-align: left;
}
.cooperation h6{
  line-height: 44px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}

.follow-us{
  margin-bottom: 36px;
}
.follow-us h6{
  line-height: 47px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}
.follow-us a{
  display: block;
  text-align: center;
  line-height: 28px;
}
.follow-us li.fl{
  padding: 0 10px;
}
.follow-us .bg-color-hover{
  font: 14px/1 "";
  margin: 7px 0;
}
.dacu{
  margin-bottom: 20px;
}
/*right  end  */














/*footer  start  */
.Footer{
  border-top: 1px dashed #dddddd;
  padding: 9px 0 10px;
}
.Footer li.fl{
  color: #999999;
}
.Footer a{
  margin-right: 4px;
}
.Footer span{
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #a5c2eb;
  margin-top: 5px;
  margin-right: 4px;
}
/*footer  end  */


/* global       end */






















/* diff         start */


/* index-left  start */
.index-left{
  width: 590px;
  padding-right: 50px;
}


/* hot   start */
.hot-h2{
  padding: 43px 0 10px;
  border-bottom: 1px solid #eaeaea;
}
.hot-h2 strong{
  font-size: 15px;
  margin-right: 15px;
}
.hot-h2 a{
  margin-top: 2px;
  margin-right: 15px;
}
.hot-h2 .next,.hot-h2 .prev{
  width: 18px;
  height: 18px;
  background: url(./images/left/click_arrow.png);
}
.hot-h2 .next{
  margin: 2px 0 0 5px;
  background-position: 0 -32px;
}
.hot-h2 .prev{
  margin: 2px 0 0 15px;
}
.hot-h2 span:nth-of-type(3){
  margin-top: 2px;
  line-height: 18px; 
}
.hot-img-show-box{
  overflow-x: hidden;
}
.hot-img-show{
  padding: 18px 0 37px;
  width: 200%;
}
.hot-img-show-dt{
  width: 128px;
  height: 180px;
}