

/* reser  start */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1;
}
ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  padding: 0;
  list-style: none;
}
strong,b,h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-size: 1em;
}
em,i{
  font-style: normal;
}
a{
  text-decoration: none;
  color: #3377aa;
  cursor: pointer;
}
img{
  vertical-align: top;
}
form,input,select,option{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  vertical-align: top;
}





/* tools     start */
.fl{
  float: left;
}
.fr{
  float: right;
}
.position-a{
  position: absolute;
}
.position-r{
  position: relative;
}
.margin-x-auto{
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  border: 0;
}
.clearfix{
  zoom: 1;
}
.default-width{
  width: 940px;
  margin: 0 auto;
}
.bg-color-hover:hover{
  color: white;
  background: #2277aa;
}








/* global       start */
/*header   header-top  start  */
.header-top{
  background: #545652;
}
.header-top-left{
  border-top: 1px solid #b6b4b6;
}
.header-top-left li{
  padding: 0 12px;
}
.header-top a{
  line-height: 28px;
  color: #d0d1d0;
}
.header-top-left a:hover{
  color: white;
}
.header-top-left .position-a{
  width: 88px;
  padding: 10px 0;
  border: 1px solid #e6e6e6;
  background: white;
}
.header-top-left .position-a a{
  width: 100%;
  color: #3d3d3d;
}
.header-top-left .position-a a:hover{
  background: #f6f6f6;
}
.nav-download{
  padding-right:25px; 
  height: 28px;
}
.header-top-right .position-a{
  width: 251px;
  height: 479px;
  border: 1px solid #e6e6e6;
  border-top: none;
  top: 28px;
  left: -84px;
  background: white;
}
.header-top-right p:nth-of-type(1){
  padding-top: 64px;
}
.header-top-right p:nth-of-type(2){
  padding: 33px 0 20px;
}
.header-top-right p a{
  color: #3377bc;
}
.nav-info a{
  padding-right: 25px; 
}
.nav-info a:hover{
  color: white;
}

/*header-top end  */





/*header-middle  start  */

.header-middle{
  border-bottom: 1px solid #e3ebec;
  background: #f0f3f5;
  padding: 20px 0 22px;
}
.logo{
  font-size: 30px;
  font-weight: 600;
  color: #258dcd;
  margin-right: 43px;
}
form input{
  width: 452px;
  background: white;
  line-height: 31px;
  padding-left: 14px;
  border-bottom: 1px solid #d1d1d1;
}

.search{
  width: 35px;
  height: 30px;
  border: 1px solid #8a949c;
  border-radius: 0 3px 3px 0/0 3px 3px 0;
  background: url(./images/header/ser.png);
}
/*header-middle  end  */





/*header-bottom  start  */
.header-bottom{
  padding: 13px 0 14px;
  background-color: #f0f3f5;
  font: 13px/15px "";
}
.header-bottom .fl{
  margin-right: 28px;
  color: #4882ae;
}
.bg-color-change:hover{
  color: white;
  background: #2277aa;
}

/*header-bottom  end  */










/*right  start  */
.Right{
  width: 300px;
  padding-top: 40px;
}
.Right>h5{
  line-height: 43px;
  text-indent: 18px;
  color: #3377aa;
  border-radius: 5px;
  background: #f2f7f6;
  text-align: left;
}
.search-film{
  margin: 20px 0 28px;
  border-radius: 5px;
  background: #f6f3d3;
  padding: 12px 0;
  line-height: 24px;
}
.search-film select,.search-film input{
  height: 24px;
  border: 1px solid #e0e0e0;
  background: white;
  box-sizing: border-box;
}
.search-film select{
  margin-right: 5px;
}
.search-film a{
  position: relative;
  left: -23px;
  top: 6px;
}
.film-activity{
  margin-top: 20px;
  text-align: left;
  background: #f2f7f6;
  padding: 12px 0;
  text-indent: 18px;
  line-height: 27px;
}
.film-activity h6{
  font: 14px/30px "";
  color: #007722;
}
.kb-list-box{
  margin-bottom: 50px;
}
.kb-list{
  padding: 24px 0 15px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.kb-list strong{
  margin-right: 12px;
}
.kb-list a{
  font-size: 12px;
  color: #6a6699;
}
.kb-list-box .li1{
  border-bottom: 1px solid #eaeaea;
  padding: 15px 0 11px 7px;
}
.kb-list-box span{
  margin-right: 10px;
}
.tongdui{
  margin-top: 20px;
  text-align: left;
  text-indent: 20px;
  background: #e3ebec;
  padding: 14px 0;
  color: #696a9e;
}

.doulie h6{
  padding-top: 3px;
  line-height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.doulie p{
  line-height: 15px;
  padding: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.doulie span{
  color: #9f9f9f;
}


.cooperation{
  padding-top: 28px;
  line-height: 24px;
  text-align: left;
}
.cooperation h6{
  line-height: 44px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}

.follow-us{
  margin-bottom: 36px;
}
.follow-us h6{
  line-height: 47px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}
.follow-us a{
  display: block;
  text-align: center;
  line-height: 28px;
}
.follow-us li.fl{
  padding: 0 10px;
}
.follow-us .bg-color-hover{
  font: 14px/1 "";
  margin: 7px 0;
}
.dacu{
  margin-bottom: 20px;
}
/*right  end  */














/*footer  start  */
.Footer{
  border-top: 1px dashed #dddddd;
  padding: 9px 0 10px;
}
.Footer li.fl{
  color: #999999;
}
.Footer a{
  margin-right: 4px;
}
.Footer span{
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #a5c2eb;
  margin-top: 5px;
  margin-right: 4px;
}
/*footer  end  */


/* global       end */






















/* diff         start */


/* index-left  start */
.index-left{
  width: 590px;
  padding-right: 50px;
}


/* hot   start */
.index-left-top{
  position: relative;
}
.hot-h2{
  padding: 43px 0 10px;
  border-bottom: 1px solid #eaeaea;
}
.hot-h2 strong{
  font-size: 15px;
  margin-right: 15px;
}
.hot-h2 a{
  margin-top: 2px;
  margin-right: 15px;
}
.hot-h2 .next,.hot-h2 .prev{
  width: 18px;
  height: 18px;
  background: url(./images/left/click_arrow.png);
  cursor: pointer;
}
.hot-h2 .next{
  margin: 2px 0 0 5px;
  background-position: 0 -32px;
}
.hot-h2 .prev{
  margin: 2px 0 0 15px;
}
.hot-h2 span:nth-of-type(3){
  margin-top: 2px;
  line-height: 18px; 
}
.hot-img-show-box{
  overflow-x: hidden;
}
.hot-img-show{
  padding: 18px 0 37px;
  width: 200%;
}
.hot-img-show li{
  padding: 0 9px;
}
.hot-img-show dl{
  margin-right: 20px;
  position: relative;
}
.hot-img-show dl:nth-of-type(4){
  margin-right: 0;
}
.hot-img-show-dt{
  width: 128px;
  height: 180px;
  margin-bottom: 18px;
}
.hot-img-show-dd1{
  text-align: center;
  margin-bottom: 10px;
}
.hot-img-show-dd1 a{
  color: #333333;
  font-size: 14px;
}
.hot-img-show-dd2 img{
  width: 11px;
  height: 11px;
}
.hot-img-show-dd2 img:nth-of-type(5){
  margin-right: 5px;
}
.hot-img-show-dd2{
  color: #e09015;
  padding-left: 26px;
  margin-bottom: 13px;
}
.hot-img-show-dd3{
  width: 90px;
  line-height: 24px;
  border-radius: 3px;
  margin: 0 auto;
  background: #268dcd;
  text-align: center;
}
.hot-img-show-dd3 a{
  color: white;
}
.hot-img-show-opation{
  position: absolute;
  width: 200px;
  top: 92px;
  background: white;
  z-index: 9;
  border: 1px solid #dddddd;
  padding: 20px;
}
.hot-img-show-opation h6{
  font-size: 14px;
  line-height: 46px;
}
.hot-img-show-opation p:nth-of-type(1){
  margin-bottom: 16px;
  line-height: 12px;
}
.hot-img-show-opation p{
  line-height: 20px;
}
.hot-img-show-opation span:nth-of-type(1){
  margin-right: 5px;
}
.hot-img-show-opation1{
  left: 144px;
}
.hot-img-show-opation2{
  left: 292px;
}
.hot-img-show-opation3{
  left: 440px;
}
.hot-img-show-opation4{
  left: 588px;
}











/* 热门电影部分     start */
.index-left-pop-h2{
  padding: 24px 0 12px;
  margin-bottom: 18px;
  line-height: 14px;
  color: #9b9ea1;
  border-bottom: 1px solid #eaeaea;
}
.index-left-pop-h2 strong{
  color: #111111;
  font-size: 14px;
  margin-right: 14px;
}
.index-left-pop-h2 span{
  margin-right: 15px;
}
.index-left-pop-h2 .active{
  color: #111111;
}
.index-left-pop-h2 .mouseEnter{
  color: white;
  background: #2277aa;
}
.index-left-pop-show-box{
  overflow: hidden;
}
.index-left-pop-show{
  width: 710%;
  text-align: center;
  margin-left: -593px;
}
.index-left-pop-show li{
  width: 593px;
}
.index-left-pop-show img{
  width: 140px;
  height: 200px;
}
.index-left-pop-show .marginRight{
  margin-right: 11px;
}
.index-left-pop-show p{
  width: 140px;
  line-height: 20px;
  padding-top: 5px;
  min-height: 54px;
}
.index-left-pop-show strong{
  margin-right: 4px;
  font-size: 14px;
  color: #3f77ac;
}
.index-left-pop-show span{
  color: #e09015;
}



/* 详情提示框 */
.index-left-pop-option{
  width: 240px;
  padding: 22px 70px 20px 25px;
  background: #ffffff;
  border: 1px solid #999999;
  display: none;
}
.index-left-pop-option h3{
  color: #3377aa;
  font-size: 18px;
  margin-bottom: 8px;
}
.index-left-pop-option p:nth-of-type(1){
  margin-bottom: 15px;
}
.index-left-pop-option p:nth-of-type(2) span{
  line-height: 24px;
  color: #666666;
  background: #f5f5f5;
  padding: 0 10px;
  border-radius: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.index-left-pop-btn{
  margin: 0 auto;
  width: 124px;
  margin-bottom: 50px;
}
.index-left-pop-btn strong{
  width: 18px;
  height: 18px;
  background: url(./images/left/click_arrow.png) no-repeat;
}
.index-left-pop-btn span{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 7px;
  background: #d8d8d8;
}
.index-left-pop-btn .active{
  background: #6198d7;
}
.index-left-pop-btn span:nth-last-of-type(1){
  margin-right: 13px;
}
.index-left-pop-btn .prev{
  margin-right: 13px;
}
.index-left-pop-btn .next{
  background-position: 0 -32px;
}
.index-left-pop-btn *{
  cursor: pointer;
}

















/*HotRecommendation     开始*/



.Recommendation_box{
  overflow: hidden;
  margin-top: 57px;
}
.Recommendation{
  height: 240px;
  width: 610%;
}
.Recommendation_box h3{
  padding-bottom: 9px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 18px;
}
.Recommendation_box h3 strong{
  line-height: 24px;
}
.Recommendation_box h3 span{
  font-size: 12px;
  margin: 6px 0 0 5px;
  line-height: 18px;
}
.Recommendation dd{
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  padding: 48px 30px 0 24px;
  background: #f9f9f9;
}
.Recommendation dd a{
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-left: 4px;
}
.Recommendation .p1{
  margin-bottom: 18px;
}
.Recommendation .p2{
  color: #999999;
  line-height: 20px;
  font-size: 13px;
}










/*FilmCritic    影评    开始*/
.FilmCritic h3{
  padding-top: 40px;
  padding-bottom: 15px; 
}
.FilmCritic h3 strong{
  margin-right: 12px;
}
.FilmCritic h3 a{
  margin: 4px 12px 0 0;
  color: #5983af;
  font-size: 12px;
  line-height: 12px;
}
.FilmCritic h3 a:hover{
  color: #fff;
  background: blue;
}
.FilmCritic dl{
  padding-top: 18px;
  padding-bottom: 24px; 
  border-top: 1px solid #eaeaea;
}
.FilmCritic dd a:hover{
  color: #fff;
  background: blue; 
}
.FilmCritic .a_header{
  line-height: 24px;
  color: #3377aa;
}
.FilmCritic dd{
  width: 508px;
  padding-left: 14px;
}
.FilmCritic h6{
  line-height: 28px;
}
.FilmCritic h6 a{
  font-size: 12px;
  color: #747474;
}
.FilmCritic .star_full{
  color: #ffac2d;
}
.FilmCritic .star_empty{
  color: #dadada;
}
.FilmCritic p{
  font-size: 12px;
  line-height: 18px;
}
.FilmCritic p a{
  color: #3377aa;
}













/* foot-banner */
.foot-banner{
  margin-top: 40px;
  margin-bottom: 60px;
}











































/* but-tickets          start */
.buy-tickets-left-top-h2{
  padding: 41px 0 16px;
}
.buy-tickets-left-top-h2 strong{
  margin-right: 10px;
  font-size: 25px;
  color: #494949;
  font-weight: bold;
}
.buy-tickets-left-top-h2 span{
  color: #3377aa;
  font-size: 12px;
  line-height: 14px;
  margin-top: 6px;
  cursor: pointer;
}
.buy-tickets-left-top-h2 span:hover{
  background: #3377aa;
  color: white;
}
.buy-tickets-left-top-opation{
  padding: 15px;
  border: 1px solid #cccccb;
  border-radius: 5px/5px;
  width: 308px;
  color: #527baa;
  display: none;
}
.buy-tickets-let-top-nav{
  padding: 0 0 11px 20px;
  border-bottom: 1px solid #eeeeee;
}
.buy-tickets-let-top-nav span{
  width: 42px;
  margin-right: 5px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}
.buy-tickets-let-top-nav .active{
  color: white;
  background: #6699cc;
  border-radius: 3px/3px;
}
.buy-tickets-let-top-cont h6{
  color: #111111;
  padding-top: 8px;
  line-height: 21px;
}
.buy-tickets-let-top-cont li{
  padding-bottom: 6px;
  font-size: 12px;
  border-bottom: 1px solid #eeeeee;
}
.buy-tickets-let-top-cont .li1{
  padding-top: 8px;
  border: none;
}
.buy-tickets-let-top-cont span{
  margin: 6px 13px 6px 0;
  cursor: pointer;
}
.buy-tickets-let-top-cont span:hover{
  color: white;
  background: #3377aa;
}





.buy-tickets-left-middle-h4{
  padding-top: 8px;
  color: #007722;
  line-height: 44px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 12px;
}
.buy-tickets-left-middle img:not(.star){
  width: 128px;
  height: 180px;
}
.buy-tickets-left-middle star{
  width: 12px;
  height: 12px;
}
.buy-tickets-left-middle-more{
  background: #f5f5f5;
  line-height: 36px;
  text-align: center;
  color: #57739e;
}
.buy-tickets-left-middle-more:hover{
  background: #eeeeee;
}
.buy-tickets-left-bottom img:not(.star){
  width: 128px;
  height: 180px;
}
/* buy-tickets       end */














/* explore                    start */
.explore-left-nav-h2{
  padding-top: 25px;
  font: 600 25px/57px ""; 
}
.explore-left-nav{
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.explore-left-nav li{
  padding: 0 10px;
  margin-right: 6px;
  line-height: 24px;
  color: #666666;
  border-radius: 2px;
  cursor: pointer;
}
.explore-left-nav .active{
  background: #4b8ccb;
  color: white;
}



.explore-left-cont-nav{
  padding: 20px 0;
  font-size: 12px;
}
.explore-left-cont-nav label{
  margin-right: 25px;
}
.explore-left-cont-nav input{
  margin-right: 5px;
  color: #666666;
}
.explore-left-cont p{
  width: 140px;
  padding: 4px 0 13px;
  line-height: 20px;
  min-height: 42px;
  text-align: center;
}
.explore-left-cont img{
  width: 140px;
  height: 200px;
}
.explore-left-cont p span{
  color: #e09015;
  margin-left: 4px;
}
.explore-addMore{
  line-height: 34px;
  background: #f7f7f7;
  color: #3377aa;
  text-align: center;
}
.explore-addMore:hover{
  background: #eeeeee;
}
/* explore         end */














/* chart         start */
.chart-h2{
  padding-top: 38px;
  line-height: 31px;
  font-size: 25px;
  color: #494949;
}
.chart-h6{
  font: 15px/47px "";
  color: #007722 ;
}
.chart-left-cont li{
  border-top: 1px dashed #dddddd; 
  padding: 13px 0;
}
.chart-left-l{
  width: 103px;
}
.chart-left-r{
  width: 487px;
}
.chart-left-r-h6{
  line-height: 20px;
  color: #666699;
  margin-bottom: 4px;
}
.chart-left-r-p1{
  line-height: 18px;
  font-size: 12px;
  color: #666666;
  margin-bottom: 17px;
}
.chart-left-r-h6 a:hover{
  color: white;
  background: #3377aa;
}
/* chart   end */









/* tag             start */
.Tag-h2{
  padding: 56px 0 32px;
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}
.Tag-nav span{
  padding: 0 10px;
  line-height: 24px;
  margin-right: 4px;
  border-radius: 2px/2px;
  cursor: pointer;
}
.Tag-nav span:hover,.Tag-nav strong:hover{
  color: #50a3d7;
}
.Tag-nav span.active:hover{
  color: white;
}
.Tag-nav span.active{
  color: white;
  background: #50a3d7;
}
.Tag-h3,.Tag-h4,.Tag-h5,.Tag-h6{
  margin-bottom: 20px;
}
.Tag-nav strong{
  width: 94px;
  line-height: 28px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  text-align: center;
  border-right-color: transparent;
  box-sizing: border-box;
}
.Tag-nav strong:nth-of-type(1){
  border-left: 1px solid #dfdfdf;
  border-radius: 2px 0 0 2px/2px 0 0 2px;
}
.Tag-nav strong:nth-of-type(3){
  border-right: 1px solid #dfdfdf;
  border-radius: 0 2px 2px 0/0 2px 2px 0;
}
.Tag-nav strong.active{
  border: 1px solid #258dcd;
  color: #258dcd;
  border-radius: 2px;
}
.Tag-nav strong.active:hover{
  color: #258dcd;
}
.Tag-content{
  padding-top: 40px;
}
.Tag-content img{
  width: 115px;
  height: 161px;
  margin-right: 25px;
}
.Tag-content-addmore{
  text-align: center;
  color: #258dcd;
  background: #f7f7f7;
  line-height: 40px;
}
.Tag-content-addmore:hover{
  background: #eeeeee;
}
/* tag             end */











/* review             start */
.review-h2{
  padding-top: 41px;
  font-size: 26px;
  font-weight: bold;
}
.review-nav{
  line-height: 60px;
  color: #111111;
}
.review-nav span{
  color: #3377aa;
}
.review-nav .active{
  color: #111111;
}